.header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #212353;

  @media screen and (min-width: 0px) and (max-width: #{$grid__bp-lg}px) {
    text-align: center;
  }
}

.text {
  font-size: 16px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  color: #4B5D68;

  &__nav-category {
    @extend .text;

    font-weight: 900;
    color: #212353;
  }

  @media screen and (min-width: 0px) and (max-width: #{$grid__bp-lg}px) {
    text-align: center;
  }
}