.header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;

  &_main {
    @extend .header;
    font-size: 80px;
    line-height: 110%;
  }

  &_sub {
    @extend .header;
    font-size: 40px;
    line-height: 130%;
  }
}

.text {
  font-size: 16px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}