$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
  '': 0,
  '-sm': $grid__bp-sm,
  '-md': $grid__bp-md,
  '-lg': $grid__bp-lg,
  '-xl': $grid__bp-xl
);

$limit: 12;

// $utilities: () !default;
  
// $utilities: map-merge(
//   (
//     "justify-content": (
//       responsive: true,
//       property: justify-content,
//       values: (
//         start: flex-start,
//         end: flex-end,
//         center: center,
//         between: space-between,
//         around: space-around,
//         evenly: space-evenly,
//       )
//     ),
//     "align-items": (
//       responsive: true,
//       property: align-items,
//       values: (
//         start: flex-start,
//         end: flex-end,
//         center: center,
//         baseline: baseline,
//         stretch: stretch,
//       )
//     ),
//   ),
//   $utilities
// )