$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
  '': 0,
  '-sm': $grid__bp-sm,
  '-md': $grid__bp-md,
  '-lg': $grid__bp-lg,
  '-xl': $grid__bp-xl
);

$media_queries : (
    'mobile'    : "only screen and (max-width: #{$grid__bp-md}px)",
    'tablet'    : "only screen and (min-width: #{$grid__bp-md)}px and (max-width: #{$grid__bp-lg)}px",
    'desktop'   : "only screen and (min-width: #{$grid__bp-lg + 1})px",
    'landscape' : "screen and (orientation:landscape) ",    
    'portrait'  : "screen and (orientation:portrait) "
);

$limit: 12;