.blue {
  background: #2D9CDB;

  &_light {
    @extend .blue;

    opacity: 0.1;
  }
}

.green {
  background: #68C9BA;

  &_light {
    @extend .green;

    opacity: 0.1;
  }
}

.pink {
  background: #F063B8;

  &__oval {
    @extend .pink;

    width: 20px;
    height: 35px;

    border-radius: 20px;
  }

  &_light {
    @extend .pink;

    opacity: 0.1;
  }

  &_medium {
    @extend .pink;

    opacity: 0.15;
  }
}

.purple {
  background: #9C69E2;

  &__circle {
    @extend .purple;

    width: 20px;
    height: 20px;

    border-radius: 20px;
  }

  &_light {
    @extend .purple;

    opacity: 0.1;
  }
}

.gray {
  background: #212353;
  opacity: 0.1;

  &__circle {
    @extend .gray;

    height: 50px;
    width: 50px;

    border-radius: 50px;
  }
}