.info {
  @extend .container-fluid;

  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  width: 80%;

  &__img {
    // width: 477px;
    width: 90%;

    // @media screen and (min-width: #{$grid__bp-lg}px) and (max-width: #{$grid__bp-xl}px) {
    //   width: 
    // } 
  }

  &__header {
    @extend .header;

    font-size: 40px;
    line-height: 130%;
  }

  &__text {
    @extend .text;

    font-size: 18px;
  }

  @media screen and (min-width: 0px) and (max-width: #{$grid__bp-md}px) {
    display: flex;
    flex-direction: column;

    width: auto;
  }
}

.features-title {
  @extend .container-fluid;

  position: relative;
  width: 50%;
  left: 15%;
  
  margin-top: 10%;
  margin-bottom: 10%;

  &__header {
    @extend .header;

    font-size: 40px;
    line-height: 130%;

    text-align: center;
  }

  &__text {
    @extend .text;

    font-size: 18px;

    text-align: center;
  }

  @media screen and (min-width: 0px) and (max-width: #{$grid__bp-md}px) {
    left: 25%
  }
}

.testimonials {
  @extend .container-fluid;

  width: 78%;
  background-color: #9C69E2;
  border-radius: 50px;

  padding: 5% 0 5% 5%;

  overflow: hidden;

  &__header {
    @extend .header;

    font-size: 40px;
    line-height: 130%;
    color: #fff;
  }

  &__card {
    min-width: 600px;
    padding: 4% 0 3% 0;

    background-color: #fff;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;

    &_gradient {
      @extend .testimonials__card;

      mask-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    }

    @media screen and (min-width: #{$grid__bp-md}px) and (max-width: #{$grid__bp-lg}px) {
      min-width: 550px;
    }

    @media screen and (min-width: #{$grid__bp-sm}px) and (max-width: #{$grid__bp-md}px) {
      min-width: 300px;
    }

    @media screen and (max-width: #{$grid__bp-sm}px) {
      min-width: 250px;
    }
  }

  &__avatar {
    height: 90px;
    width: 90px;
  }

  &__content {
    &_name {
      @extend .text;

      font-weight: 800;
      font-size: 18px;
      color: #212353;
    }

    &_sub {
      @extend .text;
  
      font-size: 14px;
      letter-spacing: 0.01em;
      // color: #E6D9F8;
      color: #9C69E2;
    }
  
    &_text {
      @extend .text;

      font-weight: normal;
      font-size: 18px;
      line-height: 180%;
      color: #4B5D68;
    }
  }

  &__breadcrumbs-container{
    @extend .container__col_1;

    @media screen and (min-width: #{$grid__bp-xl}px) and (max-width: 1330px) {
      flex-basis: 10%;
    }

    @media screen and (min-width: #{$grid__bp-sm}px) and (max-width: #{$grid__bp-xl}px) {
      flex-basis: 12%
    }

    @media screen and (max-width: #{$grid__bp-sm}px) {
      flex-basis: 15%
    }
  }

  &__nav-container {
    @extend .testimonials__breadcrumbs-container;

    margin-right: 8%;
  }

  &__breadcrumbs {
    @extend .container__row;

    justify-content: space-between;
    list-style: none;

    margin: 0;
    padding: 0;

    &_default {
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 100px;
    }

    // For demo purposes
    &:active, &_active {
      @extend .testimonials__breadcrumbs_default;

      width: 10px;
      height: 10px;
      background-color: #F063B8;
    }
  }

  &__nav {
    @extend .container__row;

    justify-content: space-between;

    
  }
}