.button {
  border-radius: 50px;

  &__text {
    @extend .text;

    text-align: center;
    color: #212353;
    font-weight: 800;

    &_light {
      @extend .button__text;
      color: #fff;
    }
  }

  &_light {
    @extend .button;

    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

    justify-content: space-evenly;
    width: 210px;
  }

  &_pink {
    @extend .button;

    background: #F063B8;
  }

  &_purple {
    @extend .button;

    background: #9C69E2;
    height: 80%;
    width: 170px;

    @media screen and (min-width: 0px) and (max-width: #{$grid__bp-lg}px) {
      align-self: center;
    }
  }
}