.headline {
  @extend .container-fluid;

  padding-top: 100px;
  padding-bottom: 200px;

  &__lcp {
    &_side {
      position: absolute;
  
      @media screen and (min-width: #{$grid__bp-xl}px) {
        width: 885px;
        left: 450px;
        top: 300px;
      }
  
      @media screen and (min-width: #{$grid__bp-lg}px) and (max-width: #{$grid__bp-xl}px) {
        width: 600px;
        left: 400px;
        top: 350px;
      }
    }

    &_top {
      position: relative;
      margin-right: auto;
      margin-left: auto;
      align-self: center;

      @media screen and (min-width: #{$grid__bp-md}px) and (max-width: #{$grid__bp-lg}px) {
        width: 600px;
      }

      @media screen and (min-width: #{$grid__bp-sm}px) and (max-width: #{$grid__bp-md}px) {
        width: 550px;
      }

      @media screen and (max-width: #{$grid__bp-sm}px) {
        width: 450px;
        overflow: hidden;
      }
    }
  }



  &__header {
    @extend .header;

    line-height: 110%;

    @media screen and (min-width: #{$grid__bp-xl}px) {
      font-size: 80px;
    }

    @media screen and (min-width: #{$grid__bp-lg}px) and (max-width: #{$grid__bp-xl}px) {
      font-size: 72px;
    }

    @media screen and (min-width: #{$grid__bp-md}px) and (max-width: #{$grid__bp-lg}px) {
      font-size: 64px;
      text-align: center;
    }

    @media screen and (min-width: #{$grid__bp-sm}px) and (max-width: #{$grid__bp-md}px) {
      font-size: 56px;
      text-align: center;
    }

    @media screen and (max-width: #{$grid__bp-sm}px) {
      font-size: 48px;
      text-align: center;
    }
  }

  &__text {
    max-width: 40%;
  }

  @media screen and (min-width: 0px) and (max-width: #{$grid__bp-lg}px) {
    display: flex;
    flex-direction: column;
  }
}