.tile {
  @extend .container__row;

  width: 100%;
  height: 100%;

  &__container {
    @extend .container-fluid;

    width: 80%;
    margin-bottom: 5%;
  }

  &__row {
    @extend .container__row;

    justify-content: space-between;
    margin-bottom: 5%;
  }

  &__img {
    position: relative;
    z-index: 9;

    &_q1 {
      @extend .tile__img;

      margin-bottom: 10%;
    }

    &_q2 {
      @extend .tile__img;

      right: 15%;
      margin-bottom: 35%;
    }

    &_q3 {
      @extend .tile__img;

      right: 10%;
    }

    &_q4 {
      @extend .tile__img;

      right: 12%;
    }
  }

  &__shape {
    position: relative;

    &_q1 {
      @extend .tile__shape;
    }

    &_q2 {
      @extend .tile__shape;
    }

    &_q3 {
      @extend .tile__shape;
    }

    &_q4 {
      @extend .tile__shape;
    }
  }
  
  &__content {
    border-radius: 50px;

    position: relative;
    width: 375px;
    height: 300px;
    padding-top: 10%;
    padding-right: 25%;

    &:after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
      transform-origin: top left;
      border-radius: 50px;
      
      -ms-transform: skew(-10deg, 0deg);
      -webkit-transform: skew(-10deg, 0deg);
      transform: skew(-10deg, 0deg);
    }

    &_green {
      @extend .tile__content;

      background-color: #EFF9F8;
      right: 15%;

      &:after {
        @extend .tile__content:after;

        background-color: #EFF9F8;
      }
    }

    &_purple {
      @extend .tile__content;
      
      background-color: #F5EFFC;
      right: 17%;

      &:after {
        @extend .tile__content:after;

        background-color: #F5EFFC;
      }
    }

    &_pink {
      @extend .tile__content;
      
      background-color: #FEF0F8;
      right: 17%;

      &:after {
        @extend .tile__content:after;

        background-color: #FEF0F8;
      }
    }

    &_blue {
      @extend .tile__content;
      
      background-color: #EAF5FB;
      right: 17%;

      &:after {
        @extend .tile__content:after;

        background-color: #EAF5FB;
      }
    }
  }

  &__header {
    @extend .header;

    font-weight: normal;
    font-size: 24px;
    line-height: 130%;

    position: relative;
    left: 30%;
    margin-top: 5%;

    &_q1, &_q2, &_q3, &_q4 {
      @extend .tile__header;

      left: 50%;
    }
  }

  &__text {
    @extend .text;

    font-weight: normal;
    color: #4B5D68;

    position: relative;
    left: 30%;
    margin-bottom: 10%;
    
    &_q1 {
      @extend .tile__text;

      left: 50%;
      margin-bottom: 7%;
    }

    &_q2 {
      @extend .tile__text;

      left: 50%;
      margin-bottom: 15%;
    }

    &_q3 {
      @extend .tile__text;

      left: 50%;
      margin-bottom: 30%;
    }

    &_q4 {
      @extend .tile__text;

      left: 50%;
    }
  }

  &__link {
    @extend .text;

    font-weight: 800;
    color: #212353;

    position: relative;
    left: 30%;

    &_arrow {
      margin-left: 5%;

    }

    &_q1, &_q2, &_q3, &_q4 {
      @extend .tile__link;

      left: 50%;
    }
  }
}