.footer {
  @extend .container-fluid;

  &__company {
    @extend .header;

    font-size: 20px;
    font-weight: 800;
    line-height: 160%;
    text-align: left;
  }

  &__content {
    align-items: flex-start;

    &_address {
      @extend .text;
  
      line-height: 180%;
      letter-spacing: 0.01em;
      color: #212353;
    }
  
    &_contact-info {
      @extend .text;
  
      line-height: 180%;
      letter-spacing: 0.01em;
      color: #212353;
      font-weight: normal;
    }
  
    &_social-media {
      margin: 0;
      justify-content: space-between;
      align-items: baseline;
      width: 178px;

      @media screen and (min-width: #{$grid__bp-md}px) and (max-width: #{$grid__bp-lg}px) {
        width: 136px;
      }
    }
  }
}