.footer {
  @extend .container-fluid;

  width: 95%;

  &__content {
    align-items: baseline;

    &_address {
      @extend .text;
  
      line-height: 180%;
      letter-spacing: 0.01em;
      color: #212353;
    }
  
    &_contact-info {
      @extend .text;
  
      line-height: 180%;
      letter-spacing: 0.01em;
      color: #212353;
      font-weight: normal;
    }
  
    &_social-media {
      margin: 0;
      justify-content: space-between;
      align-items: baseline;
      max-width: 30%;
    }
  }
}