.nav {
  &__bar {
    margin: 0;
    padding: 0;
    width: 35%;

    list-style: none;

    display: flex;
    flex-wrap: nowrap;
    
    justify-content: space-between;
    align-items: center;

    &_item {
      @extend .text;
  
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      color: #4B5D68;
  
      &:active {
        color: #212353;
        font-weight: 800;
      }
  
      // For Demo purposes - showing what the above pseudo class should be doing
      &_active {
        color: #212353;
        font-weight: 800;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    line-height: 250%;

    &_item {
      @extend .text;

      font-weight: normal;
      line-height: 250%;
      color: #212353;
    }
  }
}