.nav {
  &__bar {
    margin: 0;
    padding: 0;
    width: 50%;

    list-style: none;

    display: flex;
    flex-wrap: nowrap;
    
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    @extend .text;

    display: block;
    flex: 0 1 auto;
    list-style-type: none;

    &:active {
      color: #212353;
      font-weight: 800;
    }

    // For Demo purposes
    &_active {
      color: #212353;
      font-weight: 800;
    }
  }
}