.nav {
  &__bar {
    margin: 0;
    padding: 0;
    width: 322px;

    list-style: none;

    display: flex;
    flex-wrap: nowrap;
    
    justify-content: space-between;
    align-items: center;

    &_item {
      @extend .text;
  
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      color: #4B5D68;
      cursor: pointer;
  
      &:active {
        @extend .nav__bar_item;

        color: #212353;
        font-weight: 800;
      }
  
      // For Demo purposes - showing what the above pseudo class should be doing
      &_active {
        @extend .nav__bar_item;

        color: #212353;
        font-weight: 800;
      }
    }

    @media screen and (min-width: #{$grid__bp-sm}px) and (max-width: #{$grid__bp-md}px) {
      width: 278px;
    }

    // @media screen and (min-width: #{$grid__bp-xl}px) {
    //   width: 322px;
    // }

    // @media screen and (min-width: #{$grid__bp-lg}px) and (max-width: #{$grid__bp-xl}px) {
    //   width: 278px;
    // }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    line-height: 250%;

    &_item {
      @extend .text;

      font-weight: normal;
      line-height: 250%;
      color: #212353;
      cursor: pointer;
    }
  }
}